@keyframes navbarAnimation {
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes navbarAnimationMobile {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0);
    }
}

  @keyframes iconAnimation {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
