html,body{
    padding: 0;
    margin: 0;
    font-family: cursive;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    overflow: hidden;
}

$primary-1: #FF7A36;
$primary-2: #E88326;
$primary-3: #E84B26;
$primary-4: #FFAD29;
$primary-5: #FF3329;

//===TEXT COLORS===
$text-1: rgb(190, 190, 190);
$text-1: rgb(170, 170, 170);
$text-1: rgb(133, 133, 133);

$text-dark-1: rgb(41, 41, 41);
$text-dark-2:rgb(63, 63, 63);
$text-dark-3:rgb(94, 94, 94);

@import "animations";
@import "navbar";
@import "pages/landing";
@import "pages/page-layout";