.navbar{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10rem 0;
    width: 15%;

    animation: navbarAnimation 3s;
    animation-fill-mode: forwards;

    a{
        color: $text-dark-2;
        text-decoration: none;
        font-weight: bold;
        padding: 1.5rem;
        transition: .2s all;

        &:hover{
            background: linear-gradient(to top left, $primary-1, $primary-2);
            color: white;
        }

        i{
            opacity: 0;
            animation: iconAnimation 1s;
            animation-delay: 3s;
            animation-fill-mode: forwards;
        }
    }
}