.navbar{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10rem 0;
    width: 15%;

    animation: navbarAnimation 3s;
    animation-fill-mode: forwards;

    @media only screen and (max-width: 900px) {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0;
    }

    a{
        color: $text-dark-2;
        text-decoration: none;
        font-weight: bold;
        padding: 1.5rem;
        transition: .2s all;
        display: flex;
        align-items: center;

        @media only screen and (max-width: 900px) {
            padding: .35rem;
            font-size: .8em;
            flex-direction: column;
        }

        @media only screen and (max-width: 450px) {
            font-size: .6em;
        }

        &:hover{
            background: linear-gradient(to top left, $primary-1, $primary-2);
            color: white;
        }

        i{
            opacity: 0;
            animation: iconAnimation 1s;
            animation-delay: 3s;
            animation-fill-mode: forwards;
            padding-right: .5rem;
        }
    }
}