.menu{
    width: 85%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    @media only screen and (max-width: 900px) {
        width: 100%;
        font-size: 85%;
    }

    &__item{
        display: flex;
        align-items: center;
        height: 70%;
        padding: 0 1rem;

        @media only screen and (max-width: 700px) {
            flex: 7;
            flex-direction: column;
            height: 100%;
        }

        &--text{
            height: 60%;
            padding: 1.5rem;
            display: flex;
            flex-direction: column;
            flex: 2;
            text-align: center;
            justify-content: space-around;
        }

        &--image{
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 4;
            height: 100%;

            img{
                border-radius: 1rem;
                width: 65%;
                height: 65%;

                @media only screen and (max-width: 900px) {
                    width: 85%;
                    height: 85%;
                }
            }
        }
    }
}