.reservation{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reservation-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    min-height: 50vh;

    .media-content{
        text-align: center;
    }
}

.mealPicker{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
}