.reservation{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.reservation-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    min-height: 60vh;

    @media only screen and (max-width: 900px) {
        width: 100%;
        padding: 1.5rem;
    }

    @media only screen and (max-width: 600px) {
        padding: 0rem;
    }

    .media-content{
        text-align: center;
    }
}

.mealPicker{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5rem;

    @media only screen and (max-width: 900px) {
        padding: 1.5rem;
    }

    @media only screen and (max-width: 600px) {
        padding: 0rem;
    }
}

.reservation-confirmation-modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 25vh;
}